<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Header -->
<div class="container">
    <div class="header">
            <img class="header-pic" src="../images/mango.jpg">
             <h2 class="header-h2">Project Super Team Presents...</h2>
            <h1 class="header-h1">The Grocery List App</h1>
    </div>
</div>

    <!-- MainBody -->
    <div class="mainBody container">
        <h1>Create Your VERY OWN Todolist!</h1>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </div>

    <!-- Footer-->
    <div class="container">
        <div class="footer">
                <img class="footer-pic" src="../images/artichoke-tiny.jpg">
                <p class="footer-p">Project Super Team &copy; 2022</p>
        </div>
    </div>
 


</body>
</html>
